doctype html
html
  head
    script(language='javascript').
      function sort() {
        new Tablesort(document.getElementById('btg-table'));
      }
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/table-responsive.css')
    link(rel='icon', href='/images/favicon.png')
    
    script(src="/javascripts/jquery-3.2.1.min.js")
    script(src="/javascripts/tablesort.min.js")
    script(src="/javascripts/sorts/tablesort.number.min.js")
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='description', content='Bitcoin-Gold Pool List')
    meta(name='keywords', content='btg, bitcoin, pool-list bitcoingold, mining-pool, mining, cryptocurrency')
    
    title Bitcoin-Gold Pools
  

  body(onload='javascript:sort();')
    block content
