doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/table-responsive.css')
    script(src="/javascripts/sorttable.js")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    block content
